<mvt:item name="html_profile" file="cssui-html-profile-item.htm" />
<head>
	<title>&mvt:store:name;: &mvt:page:name;</title>
	<base href="&mvt:global:basehref;" />
	<mvt:item name="head" param="css_list" />
	<mvt:item name="head" param="head_tag" file="cssui-global-head-item.htm" />
</head>
<body class="&mvt:page:code;" id="JS_&mvt:page:code;">
<div id="site-container">
	<mvt:item name="hdft" param="global_header" file="global-header-item.htm" />
	<mvt:item name="navbar" file="cssui-navbar-item.htm" />
	<div class="items">
		<div class="page-head">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>&mvt:page:name;</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3 hidden-xs">
						<mvt:item name="category_tree" file="" />
					</div>
					<div class="col-md-9 col-sm-9">
						<mvt:item name="breadcrumbs" />
						<mvt:item name="hdft" param="header" file="FPWD-header-item.htm" />
						<form method="post" action="&mvt:global:secure_sessionurl;Screen=ACLN" role="form" id="fpwd" name="fpwd" class="form-horizontal clearfix col-md-12" autocomplete="off">
							<input type="hidden" name="Store_Code" value="&mvte:global:Store_Code;" />
							<input type="hidden" name="Action" value="EMPW" />
							<mvt:if expr="l.settings:messages:error_message_count">
								<div class="alert alert-danger">
									<mvt:foreach iterator="error" array="messages:error_messages">
										&mvt:error;
									</mvt:foreach>
								</div>
							</mvt:if>
							<mvt:if expr="l.settings:messages:information_message_count">
								<div class="alert alert-info">
									<mvt:foreach iterator="message" array="messages:information_messages">
										&mvt:message;
									</mvt:foreach>
								</div>
							</mvt:if>
							<p class="title">Enter the email address associated with your account. If you no longer use the email address associated with your account, please contact customer support.</p>
							<div class="form_row">
								<mvt:if expr="g.Customer_LoginEmail_Invalid">
									<label class="control-label error col-md-12" for="Customer_LoginEmail">Email Address:</label>
								<mvt:else>
									<label class="control-label col-md-12" for="Customer_LoginEmail">Email Address:</label>
								</mvt:if>
								<div class="col-md-6 col-sm-6 col-xs-8">
									<input type="email" name="Customer_LoginEmail" id="Customer_LoginEmail" class="form-control" />
								</div>
								<div class="col-md-6 col-sm-6 col-xs-4">
									<button type="submit" class="btn btn-default">Submit</button>
								</div>
							</div>
						</form>
						<mvt:item name="hdft" param="footer" file="FPWD-footer-item.htm" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<mvt:item name="hdft" param="global_footer" file="global-footer-item.htm" />
</div>
</body>
</html>
