<mvt:item name="html_profile" file="cssui-html-profile-item.htm" />
<head>
	<title>&mvt:store:name;: Checkout: Customer Information</title>
	<base href="&mvt:global:basehref;" />
	<mvt:item name="head" param="css_list" />
	<mvt:item name="head" param="head_tag" file="cssui-global-head-item.htm" />
</head>
<body class="&mvt:page:code;" id="JS_&mvt:page:code;">
<div id="site-container">
	<mvt:item name="hdft" param="global_header" file="global-header-item.htm" />
	<mvt:item name="navbar" file="cssui-navbar-item.htm" />
	<div class="items">
		<div class="page-head">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2><i class="icon-shopping-cart"></i> &mvt:page:name;</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<mvt:item name="hdft" param="header" file="OCST-header-item.htm" />
					<form method="post" action="&mvt:global:secure_sessionurl;" role="form" id="ocst_form" class="form-horizontal clearfix">
						<mvt:if expr="l.settings:basket:total GT 0">
							<input type="hidden" name="Action" value="ORDR" />
							<input type="hidden" name="Screen" value="OUSL" />
							<mvt:elseif expr="g.Store:req_frship">
							<input type="hidden" name="Action" value="ORDR" />
							<input type="hidden" name="Screen" value="OSEL" />
							<mvt:else>
							<input type="hidden" name="Action" value="ORDR,SHIP,CTAX,AUTH" />
							<input type="hidden" name="Screen" value="INVC" />
						</mvt:if>
						<input type="hidden" name="Store_Code" value="&mvte:store:code;" />
						<mvt:if expr="l.settings:messages:error_message_count">
							<div class="alert alert-danger">
								<mvt:foreach iterator="error" array="messages:error_messages">
									&mvt:error;
								</mvt:foreach>
							</div>
						</mvt:if>
						<mvt:if expr="l.settings:messages:information_message_count">
							<div class="alert alert-info">
								<mvt:foreach iterator="message" array="messages:information_messages">
									&mvt:message;
								</mvt:foreach>
							</div>
						</mvt:if>
						<div id="customer-fields" class="editable clearfix">
							<mvt:item name="customer" file="OCST-custflds-item.htm" />
						</div>
						<br />
						<div class="pull-right">
							<mvt:item name="buttons" param="Continue" file="cssui-buttonContinue-item.htm" />
						</div>
						<div id="basket-contents" class="non-editable cart table-responsive clearfix">
							<mvt:item name="basket" file="OCST-basket-item.htm" />
						</div>
					</form>
					<mvt:item name="hdft" param="footer" file="OCST-footer-item.htm" />
				</div>
			</div>
		</div>
	</div>
	<mvt:item name="hdft" param="global_footer" file="global-footer-item.htm" />
</div>
</body>
</html>