<mvt:item name="html_profile" file="cssui-html-profile-item.htm" />
<head>
	<title>&mvt:store:name;: &mvt:page:name;</title>
	<base href="&mvt:global:basehref;" />
	<mvt:item name="head" param="css_list" />
	<mvt:item name="head" param="head_tag" file="cssui-global-head-item.htm" />
</head>
<body class="&mvt:page:code;" id="JS_&mvt:page:code;">
<div id="site-container">
	<mvt:item name="hdft" param="global_header" file="global-header-item.htm" />
	<mvt:item name="navbar" file="cssui-navbar-item.htm" />
	<div class="items">
		<div class="page-head">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Special Offer</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<mvt:item name="hdft" param="header" file="OUS1-header-item.htm" />
					<h1 class="color">Save &mvt:upsale:formatted_upsell_savings; <small>Offer valid for this order only</small></h1>
					<div class="product-main">
						<div class="row">
							<div class="col-md-6 col-sm-6"> 
								<mvt:if expr="NOT ISNULL l.settings:upsale:thumbnail">
									<div class="product-images">
										<div class="product-image">
											<img src="&mvte:upsale:thumbnail;" alt="&mvte:product:name;" title="&mvte:product:name;" id="main_image" class="aligncenter" />
										</div>
									</div>
								<mvt:else>
									<div class="product-images">&nbsp;</div>
								</mvt:if>
							</div>
							<div class="col-md-6 col-sm-6"> 
								<h4 class="title">&mvt:upsale:name;</h4>
								<h5>Regular Price: <span class="strike">&mvt:upsale:formatted_price;</span></h5>
								<h3 class="color">Special Price: <span id="price-value">&mvt:upsale:formatted_upsell_price;</span></h3>
								<h5>You Save: &mvt:upsale:formatted_upsell_savings;</h5>
								<mvt:if expr="l.settings:product:weight NE 0">
									<p>Shipping Weight: &mvt:upsale:weight; &mvt:store:wtunits;</p>
								</mvt:if>
								<form method="post" action="&mvt:global:sessionurl;Screen=OSEL" class="form-horizontal" role="form">
									<input type="hidden" name="Action" value="AUPR" />
									<input type="hidden" name="Store_Code" value="&mvte:store:code;" />
									<input type="hidden" name="Product_Code" value="&mvte:upsale:code;" />
									<mvt:item name="tax" />
									<div class="product-attributes">
										<mvt:item name="product_attributes" param="upsale:id" file="OUS1-product_attributes-item.htm" />
									</div>
									<div class="pull-right"><mvt:item name="buttons" param="AddToOrder" file="cssui-buttonAddToOrder-item.htm" /></div>
								</form>
								<br /><br /><br />
								<div class="clearfix"></div>
								<form method="post" action="&mvt:global:sessionurl;Screen=OSEL" class="form-horizontal pull-right" role="form">
									<input type="hidden" name="Store_Code" value="&mvte:store:code;" />
									<mvt:item name="tax" />
									<mvt:item name="buttons" param="DoNotAddToOrder" file="cssui-buttonDoNotAddToOrder-item.htm" />
								</form>
							</div>
						</div>
					</div>
					<mvt:item name="hdft" param="footer" file="OUS1-footer-item.htm" />
				</div>
			</div>
		</div>
	</div>
	<mvt:item name="hdft" param="global_footer" file="global-footer-item.htm" />
</div>
</body>
</html>
