<mvt:item name="html_profile" file="cssui-html-profile-item.htm" />
<head>
	<title>&mvt:store:name; &mvte:product:name;: Missing Product Attributes</title>
	<base href="&mvt:global:basehref;" />
	<mvt:item name="prodctgy_meta" param="prod" />
	<mvt:item name="head" param="css_list" />
	<mvt:item name="head" param="head_tag" file="cssui-global-head-item.htm" />
	<mvt:item name="attributemachine" param="head" />
	<mvt:item name="product_display_imagemachine" param="head" />
</head>
<body class="&mvt:page:code;" id="JS_&mvt:page:code;">
<div id="site-container">
	<mvt:item name="hdft" param="global_header" file="global-header-item.htm" />
	<mvt:item name="navbar" file="cssui-navbar-item.htm" />
	<mvt:item name="hdft" param="header" file="PATR-header-item.htm" />
	<div class="items">
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3 hidden-xs">
						<mvt:item name="category_tree" file="" />
					</div>
					<div class="col-md-9 col-sm-9">
						<mvt:item name="breadcrumbs" />
						<h1 class="title">&mvt:product:name;</h1>
						<mvt:item name="prod_ctgy_hdft" param="prod_header" />
						<mvt:item name="product_display" file="cssui-prodlayout-item.htm" />
						<mvt:item name="attributemachine" param="body" />
						<mvt:if expr="l.settings:related_product_count NE 0">
							<div class="bor"></div>
							<h4 class="title">Related Products</h4>
							<mvt:item name="related_products" file="PATR-prodlist-item.htm" />
						</mvt:if>
						<mvt:item name="prod_ctgy_hdft" param="prod_footer" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<mvt:item name="hdft" param="footer" file="PATR-footer-item.htm" />
	<mvt:item name="hdft" param="global_footer" file="global-footer-item.htm" />
	<div id="closeup_div" class="closeup">
		<img id="closeup_image" src="graphics/en-US/cssui/blank.gif" alt="" />
		<div><a id="closeup_close">close</a></div>
	</div>
	<mvt:item name="product_display_imagemachine" param="body:product:id" />
</div>
</body>
</html>