<mvt:item name="html_profile" file="cssui-html-profile-item.htm" />
<head>
	<title>&mvt:store:name;</title>
	<base href="&mvt:global:basehref;" />
	<mvt:item name="head" param="css_list" />
	<mvt:item name="head" param="head_tag" file="cssui-global-head-item.htm" />
</head>
<body id="JS_&mvt:page:code;" class="&mvt:page:code;">
	<mvt:item name="hdft" param="global_header" file="global-header-item.htm" />
	<mvt:item name="navbar" file="cssui-navbar-item.htm" />
	<mvt:item name="hdft" param="header" file="SFNT-header-item.htm" />
	<mvt:item name="content" file="SFNT-content-item.htm" />
	<mvt:item name="hdft" param="footer" file="SFNT-footer-item.htm" />
	<mvt:item name="hdft" param="global_footer" file="global-footer-item.htm" />
</body>
</html>
