<div class="col-md-12">
<mvt:if expr="g.form EQ 'contact'">
	<br />
	<h3>Thank you for your inquiry.</h3>
	<p>A &mvt:global:store:company; representitive will contact you shortly.</p>
</mvt:if>
<mvt:if expr="g.form EQ 'newsletter'">
	<br />
	<h3>Thank you for joining the &mvt:global:store:company; mailing list.</h3>
	<p>You will begin receiving your newsletter with our next update.</p>
</mvt:if>
<mvt:if expr="g.form EQ 'taf'">
	<br />
	<h3>Thank you for sharing with your friends.</h3>
</mvt:if>
</div>