<div id="fields-key">
	<div><strong>Bold</strong> = Required</div>
	<div><em>Italic</em> = Optional</div>
	<mvt:if expr="g.Error_Message_Count">
		<div><span class="red">Red</span> = Invalid</div>
	</mvt:if>
</div>
<div id="login-details" class="clearfix">
	<div class="col-md-4">
		<div class="&mvte:global:LoginEmail_Row;">
			<label class="control-label required" for="Customer_LoginEmail">Email Address:</label>
			<mvt:if expr="l.settings:customer:primaddr EQ 'shipping'">
				<input type="text" name="Customer_LoginEmail" id="Customer_LoginEmail" value="&mvte:global:LoginEmail;" class="form-control" autocomplete="off" onblur="if ( document.getElementById( 'Customer_ShipEmail' ) && ( document.getElementById( 'Customer_ShipEmail' ).value == '' ) ) document.getElementById( 'Customer_ShipEmail' ).value = this.value;" />
			<mvt:elseif expr="l.settings:customer:primaddr EQ 'billing'">
				<input type="text" name="Customer_LoginEmail" id="Customer_LoginEmail" value="&mvte:global:LoginEmail;" class="form-control" autocomplete="off" onblur="if ( document.getElementById( 'Customer_BillEmail' ) && ( document.getElementById( 'Customer_BillEmail' ).value == '' ) ) document.getElementById( 'Customer_BillEmail' ).value = this.value;" />
			</mvt:if>
		</div>
		<div class="&mvte:global:Password_Row;">
			<label class="control-label required" for="Customer_Password">Password:</label>
			<input type="password" name="Customer_Password" id="Customer_Password" class="form-control" autocomplete="off" />
		</div>
		<div class="&mvte:global:VerifyPassword_Row;">
			<label class="control-label required" for="Customer_VerifyPassword">Confirm Password:</label>
			<input type="password" name="Customer_VerifyPassword" id="Customer_VerifyPassword" class="form-control" autocomplete="off" />
		</div>
	</div>
</div>
<br />
<div id="ship-to" class="col-md-6">
	<h2 class="fields-heading">
		Ship To:
		<mvt:comment>
		<mvt:if expr="g.Action AND g.shipping_to_show">
			<label for="shipping_to_show" id="shipping_controls" class="controls input-sm"><input name="shipping_to_show" id="shipping_to_show" type="checkbox" value="1" checked /> same as billing</label>
		<mvt:else>
			<label for="shipping_to_show" id="shipping_controls" class="controls input-sm"><input name="shipping_to_show" id="shipping_to_show" type="checkbox" value="1" /> same as billing</label>
		</mvt:if>
		</mvt:comment>
	</h2>
	<div id="shipping_fields">
		<div class="&mvte:global:ShipFirstName_Row;">
			<label class="control-label required" for="Customer_ShipFirstName">First Name:</label>
			<input type="text" name="Customer_ShipFirstName" id="Customer_ShipFirstName" value="&mvte:global:ShipFirstName;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipLastName_Row;">
			<label class="control-label required" for="Customer_ShipLastName">Last Name:</label>
			<input type="text" name="Customer_ShipLastName" id="Customer_ShipLastName" value="&mvte:global:ShipLastName;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipEmail_Row;">
			<label class="control-label required" for="Customer_ShipEmail">Email Address:</label>
			<input type="text" name="Customer_ShipEmail" id="Customer_ShipEmail" value="&mvte:global:ShipEmail;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipPhone_Row;">
			<label class="control-label required" for="Customer_ShipPhone">Phone Number:</label>
			<input type="text" name="Customer_ShipPhone" id="Customer_ShipPhone" value="&mvte:global:ShipPhone;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipFax_Row;">
			<label class="control-label italic" for="Customer_ShipFax">Fax Number:</label>
			<input type="text" name="Customer_ShipFax" id="Customer_ShipFax" value="&mvte:global:ShipFax;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipCompany_Row;">
			<label class="control-label italic" for="Customer_ShipCompany">Company:</label>
			<input type="text" name="Customer_ShipCompany" id="Customer_ShipCompany" value="&mvte:global:ShipCompany;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipAddress1_Row;">
			<label class="control-label required" for="Customer_ShipAddress1">Address:</label>
			<input type="text" name="Customer_ShipAddress1" id="Customer_ShipAddress1" value="&mvte:global:ShipAddress1;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipAddress2_Row;">
			<label class="control-label italic" for="Customer_ShipAddress2">Address 2:</label>
			<input type="text" name="Customer_ShipAddress2" id="Customer_ShipAddress2" value="&mvte:global:ShipAddress2;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipCity_Row;">
			<label class="control-label required" for="Customer_ShipCity">City:</label>
			<input type="text" name="Customer_ShipCity" id="Customer_ShipCity" value="&mvte:global:ShipCity;" class="form-control" />
		</div>
		<mvt:if expr="g.States_Empty">
			<div class="&mvte:global:ShipState_Row;">
				<label class="control-label required" for="Customer_ShipState">State/Province:</label>
				<input type="text" name="Customer_ShipState" id="Customer_ShipState" value="&mvte:global:ShipState;" class="form-control" />
			</div>
			<mvt:else>
			<div class="&mvte:global:ShipState_Row;">
				<label class="control-label required" for="Customer_ShipStateSelect">State/Province:</label>
				<mvt:item name="states" param="Customer_ShipStateSelect" />
			</div>
			<div class="&mvte:global:ShipState_Row;">
				<label class="control-label italic" for="Customer_ShipState">Other State/Province:</label>
				<input type="text" name="Customer_ShipState" id="Customer_ShipState" value="&mvte:global:ShipState;" class="form-control">
			</div>
		</mvt:if>
		<div class="&mvte:global:ShipZip_Row;">
			<label class="control-label required" for="Customer_ShipZip">Zip/Postal Code:</label>
			<input type="text" name="Customer_ShipZip" id="Customer_ShipZip" value="&mvte:global:ShipZip;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipCountry_Row;">
			<label class="control-label required" for="Customer_ShipCountry">Country:</label>
			<mvt:item name="countries" param="Customer_ShipCountry" />
		</div>
	</div>
</div>
<div id="bill-to" class="col-md-6">
	<h2 class="fields-heading">
		Bill To:
		<mvt:if expr="g.Action AND g.billing_to_show">
			<label for="billing_to_show" id="billing_controls" class="controls input-sm"><input name="billing_to_show" id="billing_to_show" type="checkbox" value="1" checked /> same as shipping</label>
		<mvt:else>
			<label for="billing_to_show" id="billing_controls" class="controls input-sm"><input name="billing_to_show" id="billing_to_show" type="checkbox" value="1" /> same as shipping</label>
		</mvt:if>
	</h2>
	<div id="billing_fields">
		<div class="&mvte:global:BillFirstName_Row;">
			<label class="control-label required" for="Customer_BillFirstName">First Name:</label>
			<input type="text" name="Customer_BillFirstName" id="Customer_BillFirstName" value="&mvte:global:BillFirstName;" class="form-control" />
		</div>
		<div class="&mvte:global:BillLastName_Row;">
			<label class="control-label required" for="Customer_BillLastName">Last Name:</label>
			<input type="text" name="Customer_BillLastName" id="Customer_BillLastName" value="&mvte:global:BillLastName;" class="form-control" />
		</div>
		<div class="&mvte:global:BillEmail_Row;">
			<label class="control-label required" for="Customer_BillEmail">Email Address:</label>
			<input type="text" name="Customer_BillEmail" id="Customer_BillEmail" value="&mvte:global:BillEmail;" class="form-control" />
		</div>
		<div class="&mvte:global:BillPhone_Row;">
			<label class="control-label required" for="Customer_BillPhone">Phone Number:</label>
			<input type="text" name="Customer_BillPhone" id="Customer_BillPhone" value="&mvte:global:BillPhone;" class="form-control" />
		</div>
		<div class="&mvte:global:BillFax_Row;">
			<label class="control-label italic" for="Customer_BillFax">Fax Number:</label>
			<input type="text" name="Customer_BillFax" id="Customer_BillFax" value="&mvte:global:BillFax;" class="form-control" />
		</div>
		<div class="&mvte:global:BillCompany_Row;">
			<label class="control-label italic" for="Customer_BillCompany">Company:</label>
			<input type="text" name="Customer_BillCompany" id="Customer_BillCompany" value="&mvte:global:BillCompany;" class="form-control" />
		</div>
		<div class="&mvte:global:BillAddress1_Row;">
			<label class="control-label required" for="Customer_BillAddress1">Address:</label>
			<input type="text" name="Customer_BillAddress1" id="Customer_BillAddress1" value="&mvte:global:BillAddress1;" class="form-control" />
		</div>
		<div class="&mvte:global:BillAddress2_Row;">
			<label class="control-label italic" for="Customer_BillAddress2">Address 2:</label>
			<input type="text" name="Customer_BillAddress2" id="Customer_BillAddress2" value="&mvte:global:BillAddress2;" class="form-control" />
		</div>
		<div class="&mvte:global:BillCity_Row;">
			<label class="control-label required" for="Customer_BillCity">City:</label>
			<input type="text" name="Customer_BillCity" id="Customer_BillCity" value="&mvte:global:BillCity;" class="form-control" />
		</div>
		<mvt:if expr="g.States_Empty">
			<div class="&mvte:global:BillState_Row;">
				<label class="control-label required" for="Customer_BillState">State/Province:</label>
				<input type="text" name="Customer_BillState" id="Customer_BillState" value="&mvte:global:BillState;" class="form-control" />
			</div>
			<mvt:else>
			<div class="&mvte:global:BillState_Row;">
				<label class="control-label required" for="Customer_BillStateSelect">State/Province:</label>
				<mvt:item name="states" param="Customer_BillStateSelect" />
			</div>
			<div class="&mvte:global:BillState_Row;">
				<label class="control-label italic" for="Customer_BillState">Other State/Province:</label>
				<input type="text" name="Customer_BillState" id="Customer_BillState" value="&mvte:global:BillState;" class="form-control" />
			</div>
		</mvt:if>
		<div class="&mvte:global:BillZip_Row;">
			<label class="control-label required" for="Customer_BillZip">Zip/Postal Code:</label>
			<input type="text" name="Customer_BillZip" id="Customer_BillZip" value="&mvte:global:BillZip;" class="form-control" />
		</div>
		<div class="&mvt:global:BillCountry_Row;">
			<label class="control-label required" for="Customer_BillCountry">Country:</label>
			<mvt:item name="countries" param="Customer_BillCountry" />
		</div>
	</div>
</div>
<mvt:if expr="l.settings:customer:match">
	<mvt:if expr="l.settings:customer:primaddr EQ 'shipping'"> 
		<script>document.getElementById( 'billing_to_show' ).checked = true;</script>
	<mvt:elseif expr="l.settings:customer:primaddr EQ 'billing'">
		<script>document.getElementById( 'shipping_to_show' ).checked = true;</script> 
	</mvt:if>
</mvt:if>
<script src="&mvt:global:clientside_url;Store_Code=&mvta:store:code;&amp;Filename=ToggleDetails.js&amp;Primaddr=shipping&amp;Shipping=D&amp;Billing=O"></script>