<meta charset="utf-8" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- HTML5 Support for IE -->
<!--[if lt IE 9]>
	<script src="js/ie8.js"></script>
<![endif]-->

<mvt:item name="readytheme" param="css" />

<mvt:comment>
These link the font files in the Framework Export. 
<link href="fonts/fontawesome-webfont.eot" />
<link href="fonts/fontawesome-webfont.svg" />
<link href="fonts/fontawesome-webfont.ttf" />
<link href="fonts/fontawesome-webfont.woff" />
<link href="fonts/FontAwesome.otf" />
<link href="forms/contactForm.php" />
<link href="forms/token.php" />
</mvt:comment>