<mvt:if expr="g.Maintenance_Warning_Message">
	<div id="maintenance">&mvte:global:Maintenance_Warning_Message;</div>
</mvt:if>
<header class="topheader hidden-sm">
	<div class="container hidden-xs">
		<div class="col-xs-6 col-md-4">
			<p class="phone">&mvt:global:store:phone;</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<div class="hlinks">
				<mvt:if expr="NOT g.Basket:cust_id">
					<a href="#login" role="button" data-toggle="modal">Log In</a> / <a href="&mvt:global:secure_sessionurl;Store_Code=&mvta:global:Store_Code;&Screen=ACNT" role="button">Register</a>
                                        &nbsp;&nbsp;&nbsp;<mvt:item name="cssui_links" param="screen:ORHL">Order Status</mvt:item>
				<mvt:else>
					<a href="&mvt:global:secure_sessionurl;Store_Code=&mvta:global:Store_Code;&Screen=ACLN" role="button">My Account</a> / <a href="&mvt:global:secure_sessionurl;Action=LOGO&amp;Screen=SFNT&amp;Store_Code=&mvta:global:Store_Code;">Log Out</a>
                                        &nbsp;&nbsp;&nbsp;<mvt:item name="cssui_links" param="screen:ORDH">Order Status</mvt:item>
				</mvt:if>
				
			</div>
		</div>
	</div>
	<div class="container iconbar hidden-lg hidden-md hidden-sm">
		<a href="tel:&mvt:global:store:phone;"><i class="icon-phone"></i></a>
		<a href="#login" role="button" data-toggle="modal"><i class="icon-user"></i></a>
		<mvt:item name="global_minibasket" file="global-minibasket-item.htm" />
		<a href="#search-modal" role="button" data-toggle="modal"><i class="icon-search"></i></a>
	</div>
</header>
<header class="btmheader">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4"> 
				<div class="logo">
				    <mvt:if expr="l.settings:readytheme:logo_type EQ 'text'">
				            <mvt:item name="cssui_links" param="storefront"><h2 class="logo-name">&mvt:readytheme:logo_name;</h2></mvt:item>
				            <span class="logo-tagline">&mvt:readytheme:logo_tagline;</span>
				        
				    <mvt:elseif expr="l.settings:readytheme:logo_type EQ 'image'">
				        <mvt:item name="cssui_links" param="storefront"><img src="&mvte:readytheme:logo_image;" alt="&mvt:readytheme:logo_alt;"  title="&mvt:readytheme:logo_alt;" border="0" /></mvt:item>
				    <mvt:else>
				    </mvt:if>
				</div>
			</div>
			<div class="col-md-8 col-sm-8 hidden-xs">
				<div class="row search-row">
					<div class="col-md-8 v-center"> 
						<!-- Search form -->
						<mvt:if expr="NOT ISNULL g.secure">
							<form method="post" action="&mvte:global:secure_sessionurl;Screen=SRCH" class="form-inline clearfix center-block" role="form">
						<mvt:else>
							<form method="post" action="&mvte:global:sessionurl;Screen=SRCH" class="form-inline clearfix center-block" role="form">
						</mvt:if>
							<input type="hidden" name="Store_Code" value="&mvte:store:code;" />
							<div class="form-group col-xs-10">
								<input type="text" name="Search" value="&mvte:global:Search;" id="search" class="form-control" placeholder="Search Products" />
							</div>
							<mvt:item name="buttons" param="Search" file="cssui-buttonSearch-item.htm" />
						</form>
					</div>
					<div class="col-md-4 v-center"> 
						<div class="col-xs-6 visible-xs visible-sm no-padding">
							<div class="hlinks pull-left">
								<a href="#login" role="button" data-toggle="modal"><i class="icon-user"></i></a>
								<h4 class="head-phone">&mvt:global:store:phone;</h4>
							</div>
						</div>
						<div class="hlinks">
							<mvt:item name="global_minibasket" file="global-minibasket-item.htm" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Header ends -->
	<!-- Log In Modal starts -->
	<div id="login" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<mvt:if expr="NOT g.Basket:cust_id">
					<div class="modal-header top">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4>Log In</h4>
					</div>
					<div class="modal-body">
						<div class="form">
							<form method="post" action="&mvte:global:secure_sessionurl;Screen=&mvte:global:screen;" autocomplete="off" class="form-horizontal">
								<input type="hidden" name="Action" value="LOGN" />
								<input type="hidden" name="Store_Code" value="&mvte:global:Store_Code;" />
								<div class="form-group">
									<label for="Customer_LoginEmail" class="control-label col-md-3">Email Address:</label>
									<div class="col-md-9">
										<input type="email" name="Customer_LoginEmail" value="&mvte:global:Customer_LoginEmail;" id="Customer_LoginEmail" class="form-control" autocomplete="off" />
									</div>
								</div>
								<div class="form-group">
									<label for="Customer_Password" class="control-label col-md-3">Password:</label>
									<div class="col-md-9">
										<input type="password" name="Customer_Password" id="Customer_Password" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-9 col-md-offset-3">
										<button type="submit" class="btn btn-default">Log In</button>
										<button type="reset" class="btn btn-default">Reset</button>
									</div>
								</div>
							</form>
							<p class="text-right"><small><a href="&mvt:global:secure_sessionurl;Store_Code=&mvta:store:code;&Screen=FPWD" title="Forgot your password? Click Here">Forgot your password?</a></small></p>
						</div>
					</div>
					<div class="modal-header">
						<h4>Register</h4>
					</div>
					<div class="modal-footer">
						<p>Dont have account? <a href="&mvt:global:secure_sessionurl;Store_Code=&mvta:global:Store_Code;&Screen=ACNT">Register Here</a></p>
					</div>
					<div class="modal-header hidden-lg hidden-md">
						<h4>Order Status</h4>
					</div>
					<div class="modal-footer hidden-lg hidden-md">
						<p>Where is my order? <a href="&mvt:global:secure_sessionurl;Store_Code=&mvta:global:Store_Code;&Screen=ORDS">Check Here</a></p>
					</div>
				<mvt:else>
					<div class="modal-header top">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4>Account</h4>
					</div>
					<div class="modal-footer">
						<p><a href="&mvt:global:secure_sessionurl;/mm5/merchant.mvc?Store_Code=&mvta:global:Store_Code;&Screen=ACLN" role="button">My Account</a>&nbsp;/&nbsp;<a href="&mvt:global:secure_sessionurl;Action=LOGO&amp;Screen=SFNT&amp;Store_Code=&mvta:global:Store_Code;">Log Out</a></p>
					</div>
					<div class="modal-header hidden-lg hidden-md">
						<h4>Order Status</h4>
					</div>
					<div class="modal-footer hidden-lg hidden-md">
						<p>Where is my order? <a href="&mvt:global:secure_sessionurl;Store_Code=&mvta:global:Store_Code;&Screen=ORDS">Check Here</a></p>
					</div>
				</mvt:if>
			</div>
		</div>
	</div>
	<!-- Log In modal ends -->
	<!-- Mini Basket modal Starts -->
	<div id="cart" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4>Shopping Cart</h4>
				</div>
				<div class="modal-body">
					<table class="table table-striped tcart">
						<thead>
							<tr>
								<th class="hidden-xs">&nbsp;</th>
								<th>Name</th>
								<th>Quantity</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody class="text-left">
							<mvt:foreach iterator="item" array="global_minibasket:items">
								<tr>
									<mvt:if expr="l.settings:item:imagetypes:main">
									<td class="image-row hidden-xs col-md-1"><a href="&mvt:global:sessionurl;Screen=PROD&amp;Store_Code=&mvta:global:Store_Code;&amp;Product_Code=&mvta:item:code;"><img src="&mvte:item:imagetypes:main;" alt="&mvt:item:name;" title="&mvt:item:name;" /></a></td>
									<mvt:else>
										<td class="image-row hidden-xs col-sm-1">&nbsp;</td>
									</mvt:if>
									<td>
										<a href="&mvt:global:sessionurl;Screen=PROD&amp;Store_Code=&mvta:store:code;&amp;Product_Code=&mvta:item:code;">&mvt:item:name;</a>
										<mvt:foreach iterator="option" array="item:options">
											<br />
											<mvt:if expr="l.settings:option:option_id">
												&mvt:option:attr_code;: &mvt:option:opt_code;
											<mvt:elseif expr="NOT ISNULL l.settings:option:data">
												&mvt:option:attr_code;: &mvt:option:data;
											<mvt:elseif expr="NOT ISNULL l.settings:option:data_long">
												&mvt:option:attr_code;: &mvt:option:data_long;
											<mvt:else>
												&mvt:option:attr_code;
											</mvt:if>
										</mvt:foreach>
									</td>
									<td>&mvte:item:quantity;</td>
									<td>&mvt:item:formatted_subtotal_comprehensive;</td>
								</tr>
							</mvt:foreach>
							<tr>
								<th class="hidden-xs">&nbsp;</th>
								<th>&nbsp;</th>
								<th>Total</th>
								<th>&mvt:global_minibasket:formatted_total;</th>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<a href="&mvt:global:secure_sessionurl;Screen=BASK&amp;Store_Code=&mvta:store:code;" class="btn btn-default">View Cart</a>
					<mvt:if expr="l.settings:global_minibasket:orderminimum_met">
						<a href="&mvt:global:secure_sessionurl;Screen=OINF&amp;Store_Code=&mvta:store:code;" class="btn btn-danger">Checkout</a>
					</mvt:if>
				</div>
			</div>
		</div>
	</div>
	<!-- Mini Basket modal ends -->
	<!-- Search modal Starts -->
	<div id="search-modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header top">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4>Search</h4>
				</div>
				<div class="modal-body">
					<!-- Search form -->
					<mvt:if expr="NOT ISNULL g.secure">
						<form method="post" action="&mvte:global:secure_sessionurl;Screen=SRCH" class="form-inline clearfix center-block" role="form">
					<mvt:else>
						form method="post" action="&mvte:global:sessionurl;Screen=SRCH" class="form-inline clearfix center-block" role="form">
					</mvt:if>
						<input type="hidden" name="Store_Code" value="&mvte:store:code;" />
						<div class="form-group col-xs-10">
							<input type="text" name="Search" value="&mvte:global:Search;" id="search" class="form-control" placeholder="Search Products" />
						</div>
						<mvt:item name="buttons" param="Search" file="cssui-buttonSearch-item.htm" />
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Search modal ends -->