<h3 class="title">Shipping and Billing Information</h3>
<div id="fields-key">
	<div><strong>Bold</strong> = Required</div>
	<div><em>Italic</em> = Optional</div>
	<mvt:if expr="g.Error_Message_Count">
		<div><span class="red">Red</span> = Invalid</div>
	</mvt:if>
</div>
<div id="ship-to" class="col-md-6">
	<h2 class="fields-heading">
		Ship To:
		<mvt:comment>
		<mvt:if expr="g.Action AND g.shipping_to_show">
			<label for="shipping_to_show" id="shipping_controls" class="controls input-sm"><input name="shipping_to_show" id="shipping_to_show" type="checkbox" value="1" checked /> same as billing</label>
		<mvt:else>
			<label for="shipping_to_show" id="shipping_controls" class="controls input-sm"><input name="shipping_to_show" id="shipping_to_show" type="checkbox" value="1" /> same as billing</label>
		</mvt:if>
		</mvt:comment>
	</h2>
	<div id="shipping_fields">
		<div class="&mvte:global:ShipFirstName_Row;">
			<label class="control-label required" for="ShipFirstName">First Name:</label>
			<input type="text" name="ShipFirstName" id="ShipFirstName" value="&mvte:global:ShipFirstName;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipLastName_Row;">
			<label class="control-label required" for="ShipLastName">Last Name:</label>
			<input type="text" name="ShipLastName" id="ShipLastName" value="&mvte:global:ShipLastName;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipEmail_Row;">
			<label class="control-label required" for="ShipEmail">Email Address:</label>
			<input type="text" name="ShipEmail" id="ShipEmail" value="&mvte:global:ShipEmail;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipPhone_Row;">
			<label class="control-label required" for="ShipPhone">Phone Number:</label>
			<input type="text" name="ShipPhone" id="ShipPhone" value="&mvte:global:ShipPhone;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipFax_Row;">
			<label class="control-label italic" for="ShipFax">Fax Number:</label>
			<input type="text" name="ShipFax" id="ShipFax" value="&mvte:global:ShipFax;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipCompany_Row;">
			<label class="control-label italic" for="ShipCompany">Company:</label>
			<input type="text" name="ShipCompany" id="ShipCompany" value="&mvte:global:ShipCompany;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipAddress1_Row;">
			<label class="control-label required" for="ShipAddress1">Address:</label>
			<input type="text" name="ShipAddress1" id="ShipAddress1" value="&mvte:global:ShipAddress1;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipAddress2_Row;">
			<label class="control-label italic" for="ShipAddress2">Address 2:</label>
			<input type="text" name="ShipAddress2" id="ShipAddress2" value="&mvte:global:ShipAddress2;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipCity_Row;">
			<label class="control-label required" for="ShipCity">City:</label>
			<input type="text" name="ShipCity" id="ShipCity" value="&mvte:global:ShipCity;" class="form-control" />
		</div>
		<mvt:if expr="g.States_Empty">
			<div class="&mvte:global:ShipState_Row;">
				<label class="control-label required" for="ShipState">State/Province:</label>
				<input type="text" name="ShipState" id="ShipState" value="&mvte:global:ShipState;" class="form-control" />
			</div>
			<mvt:else>
			<div class="&mvte:global:ShipState_Row;">
				<label class="control-label required" for="ShipStateSelect">State/Province:</label>
				<mvt:item name="states" param="ShipStateSelect" />
			</div>
			<div class="&mvte:global:ShipState_Row;">
				<label class="control-label italic" for="ShipState">Other State/Province:</label>
				<input type="text" name="ShipState" id="ShipState" value="&mvte:global:ShipState;" class="form-control">
			</div>
		</mvt:if>
		<div class="&mvte:global:ShipZip_Row;">
			<label class="control-label required" for="ShipZip">Zip/Postal Code:</label>
			<input type="text" name="ShipZip" id="ShipZip" value="&mvte:global:ShipZip;" class="form-control" />
		</div>
		<div class="&mvte:global:ShipCountry_Row;">
			<label class="control-label required" for="ShipCountry">Country:</label>
			<mvt:item name="countries" param="ShipCountry" />
		</div>
	</div>
</div>
<div id="bill-to" class="col-md-6">
	<h2 class="fields-heading">
		Bill To:
		<mvt:if expr="g.Action AND g.billing_to_show">
			<label for="billing_to_show" id="billing_controls" class="controls input-sm"><input name="billing_to_show" id="billing_to_show" type="checkbox" value="1" checked /> same as shipping</label>
		<mvt:else>
			<label for="billing_to_show" id="billing_controls" class="controls input-sm"><input name="billing_to_show" id="billing_to_show" type="checkbox" value="1" /> same as shipping</label>
		</mvt:if>
	</h2>
	<div id="billing_fields">
		<div class="&mvte:global:BillFirstName_Row;">
			<label class="control-label required" for="BillFirstName">First Name:</label>
			<input type="text" name="BillFirstName" id="BillFirstName" value="&mvte:global:BillFirstName;" class="form-control" />
		</div>
		<div class="&mvte:global:BillLastName_Row;">
			<label class="control-label required" for="BillLastName">Last Name:</label>
			<input type="text" name="BillLastName" id="BillLastName" value="&mvte:global:BillLastName;" class="form-control" />
		</div>
		<div class="&mvte:global:BillEmail_Row;">
			<label class="control-label required" for="BillEmail">Email Address:</label>
			<input type="text" name="BillEmail" id="BillEmail" value="&mvte:global:BillEmail;" class="form-control" />
		</div>
		<div class="&mvte:global:BillPhone_Row;">
			<label class="control-label required" for="BillPhone">Phone Number:</label>
			<input type="text" name="BillPhone" id="BillPhone" value="&mvte:global:BillPhone;" class="form-control" />
		</div>
		<div class="&mvte:global:BillFax_Row;">
			<label class="control-label italic" for="BillFax">Fax Number:</label>
			<input type="text" name="BillFax" id="BillFax" value="&mvte:global:BillFax;" class="form-control" />
		</div>
		<div class="&mvte:global:BillCompany_Row;">
			<label class="control-label italic" for="BillCompany">Company:</label>
			<input type="text" name="BillCompany" id="BillCompany" value="&mvte:global:BillCompany;" class="form-control" />
		</div>
		<div class="&mvte:global:BillAddress1_Row;">
			<label class="control-label required" for="BillAddress1">Address:</label>
			<input type="text" name="BillAddress1" id="BillAddress1" value="&mvte:global:BillAddress1;" class="form-control" />
		</div>
		<div class="&mvte:global:BillAddress2_Row;">
			<label class="control-label italic" for="BillAddress2">Address 2:</label>
			<input type="text" name="BillAddress2" id="BillAddress2" value="&mvte:global:BillAddress2;" class="form-control" />
		</div>
		<div class="&mvte:global:BillCity_Row;">
			<label class="control-label required" for="BillCity">City:</label>
			<input type="text" name="BillCity" id="BillCity" value="&mvte:global:BillCity;" class="form-control" />
		</div>
		<mvt:if expr="g.States_Empty">
			<div class="&mvte:global:BillState_Row;">
				<label class="control-label required" for="BillState">State/Province:</label>
				<input type="text" name="BillState" id="BillState" value="&mvte:global:BillState;" class="form-control" />
			</div>
			<mvt:else>
			<div class="&mvte:global:BillState_Row;">
				<label class="control-label required" for="BillStateSelect">State/Province:</label>
				<mvt:item name="states" param="BillStateSelect" />
			</div>
			<div class="&mvte:global:BillState_Row;">
				<label class="control-label italic" for="BillState">Other State/Province:</label>
				<input type="text" name="BillState" id="BillState" value="&mvte:global:BillState;" class="form-control" />
			</div>
		</mvt:if>
		<div class="&mvte:global:BillZip_Row;">
			<label class="control-label required" for="BillZip">Zip/Postal Code:</label>
			<input type="text" name="BillZip" id="BillZip" value="&mvte:global:BillZip;" class="form-control" />
		</div>
		<div class="&mvt:global:BillCountry_Row;">
			<label class="control-label required" for="BillCountry">Country:</label>
			<mvt:item name="countries" param="BillCountry" />
		</div>
	</div>
</div>
<div id="tax-fields">
	<mvt:foreach array="tax:fields" iterator="field">
		<mvt:if expr="l.settings:field:invalid">
			<div class="form-group has-error">
				<label>&mvt:field:prompt;</label>
				<mvt:item name="tax" param="field:code" />
			</div>
		<mvt:else>
			<div class="form-group">
				<label>&mvt:field:prompt;</label>
				<mvt:item name="tax" param="field:code" />
			</div>
		</mvt:if>
	</mvt:foreach>
</div>
<mvt:if expr="g.Basket:cust_id">
	<br /><br />
	<div class="col-md-12">
		<mvt:if expr="g.Update_Customer">
			<label><input type="checkbox" name="Update_Customer" value="Yes" checked /> Update Customer Record With This Information</label>
		<mvt:else>
			<label><input type="checkbox" name="Update_Customer" value="Yes" /> Update Customer Record With This Information</label>
		</mvt:if>
	</div>
	</div>
</mvt:if>
<mvt:if expr="l.settings:customer:match">
	<mvt:if expr="l.settings:customer:primaddr EQ 'shipping'"> 
		<script>document.getElementById( 'billing_to_show' ).checked = true;</script>
	<mvt:elseif expr="l.settings:customer:primaddr EQ 'billing'">
		<script>document.getElementById( 'shipping_to_show' ).checked = true;</script> 
	</mvt:if>
</mvt:if>
<script src="&mvte:global:clientside_url;Store_Code=&mvta:store:code;&amp;Filename=ToggleDetails.js&amp;Primaddr=shipping&amp;Shipping=D&amp;Billing=O"></script>