<mvt:item name="html_profile" file="cssui-html-profile-item.htm" />
<head>
	<title>&mvt:store:name;: Order Status</title>
	<base href="&mvt:global:basehref;" />
	<mvt:item name="head" param="css_list" />
	<mvt:item name="head" param="head_tag" file="cssui-global-head-item.htm" />
</head>
<body class="&mvt:page:code;" id="JS_&mvt:page:code;">
<div id="site-container">
	<mvt:item name="hdft" param="global_header" file="global-header-item.htm" />
	<mvt:item name="navbar" file="cssui-navbar-item.htm" />
	<div class="items">
		<div class="page-head">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>&mvt:page:name;</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<mvt:item name="hdft" param="header" file="ORDS-header-item.htm" />
					<h4>Order #&mvt:order:id;</h4>
					<h4>Date: &mvt:order:date; &mvt:order:time;</h4>
					<div id="customer-fields" class="non-editable clearfix">
						<mvt:item name="order_customer" file="cssui-invccustfields-item.htm" />
					</div>
					<div id="basket-contents" class="non-editable cart table-responsive clearfix">
						<mvt:item name="view_order" file="ORDS-view_order-item.htm" />
					</div>
					<mvt:item name="hdft" param="footer" file="ORDS-footer-item.htm" />
				</div>
			</div>
		</div>
	</div>
	<mvt:item name="hdft" param="global_footer" file="global-footer-item.htm" />
</div>
</body>
</html>