<mvt:item name="html_profile" file="cssui-html-profile-item.htm" />
<head>
	<title>&mvt:store:name;: Product List</title>
	<base href="&mvt:global:basehref;" />
	<mvt:item name="head" param="css_list" />
	<mvt:item name="head" param="head_tag" file="cssui-global-head-item.htm" />
</head>
<body class="&mvt:page:code;" id="JS_&mvt:page:code;">
<div id="site-container">
	<mvt:item name="hdft" param="global_header" file="global-header-item.htm" />
	<mvt:item name="navbar" file="cssui-navbar-item.htm" />
	<mvt:item name="hdft" param="header" file="PLST-header-item.htm" />
	<div class="items">
		<div class="page-head">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>All Products</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3 hidden-xs">
						<mvt:item name="category_tree" file="" />
					</div>
					<div class="col-md-9 col-sm-9">
						<mvt:item name="breadcrumbs" />
						<mvt:if expr="l.settings:all_products:products_on_page_count GT 1">
							<div class="form-group pull-right">                               
								<form method="get" action="&mvte:global:sessionurl;">
									<input type="hidden" name="Screen" value="&mvte:global:Screen;" />
									<input type="hidden" name="Store_Code" value="&mvte:global:Store_Code;" />
									<input type="hidden" name="Category_Code" value="&mvte:global:Category_Code;" />
									<input type="hidden" name="Product_Code" value="&mvte:global:Product_Code;" />
									<input type="hidden" name="Search" value="&mvte:global:Search;" /> 
									<input type="hidden" name="Per_Page" value="&mvte:global:Per_Page;" />
									<select name="Sort_By" onchange="this.form.submit();" class="form-control">
										<mvt:if expr="ISNULL g.Sort_By">
											<option value="disp_order" selected="selected">Sort By</option>
										<mvt:else>
											<option value="disp_order">Sort By</option>
										</mvt:if>
										<mvt:if expr="g.Sort_By EQ 'name_asc'">
											<option value="name_asc" selected="selected">Name (A-Z)</option>
										<mvt:else>
											<option value="name_asc">Name (A-Z)</option>
										</mvt:if>
										<mvt:if expr="g.Sort_By EQ 'name_desc'">
											<option value="name_desc" selected="selected">Name (Z-A)</option>
										<mvt:else>
											<option value="name_desc">Name (Z-A)</option>
										</mvt:if>
										<mvt:if expr="g.Sort_By EQ 'bestsellers'">
											<option value="bestsellers" selected="selected">Best Selling</option>
										<mvt:else>
											<option value="bestsellers">Best Selling</option>
										</mvt:if>
										<mvt:if expr="g.Sort_By EQ 'price_asc'">
											<option value="price_asc" selected="selected">Lowest Price</option>
										<mvt:else>
											<option value="price_asc">Lowest Price</option>
										</mvt:if>
										<mvt:if expr="g.Sort_By EQ 'price_desc'">
											<option value="price_desc" selected="selected">Highest Price</option>
										<mvt:else>
											<option value="price_desc">Highest Price</option>
										</mvt:if>
										<mvt:if expr="g.Sort_By EQ 'newest'">
											<option value="newest" selected="selected">Newest Items</option>
										<mvt:else>
											<option value="newest">Newest Items</option>
										</mvt:if>
									</select>
									<noscript><input type="submit" value="go"></noscript>
								</form>
							</div>
						</mvt:if>
						<div class="clearfix"></div>
						<div class="row">
							<mvt:item name="all_products" file="PLST-prodlist-item.htm" />
							<mvt:if expr="l.settings:all_products:page_links:last_page GT 1">
								<div class="col-md-9 col-sm-9">
									<div class="paging">
										<mvt:if expr="NOT l.settings:all_products:page_links:contains_first">
											<a href="&mvte:all_products:page_links:first_link;">1</a><span class="dots">&hellip;</span>
										</mvt:if>
										<mvt:foreach iterator="pages" array="all_products:page_links:pages">
											<mvt:if expr="l.settings:all_products:page_links:current_page EQ l.settings:pages:page_num">
												<span class="current">&mvte:pages:page_num;</span>
											<mvt:else>
												<a href="&mvte:pages:link;">&mvte:pages:page_num;</a>
											</mvt:if>
										</mvt:foreach>
										<mvt:if expr="NOT l.settings:all_products:page_links:contains_last">
											<span class="dots">&hellip;</span><a href="&mvte:all_products:page_links:last_link;">&mvte:all_products:page_links:last_page;</a>
										</mvt:if>
									</div>
								</div>
							</mvt:if>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<mvt:item name="hdft" param="footer" file="PLST-footer-item.htm" />
	<mvt:item name="hdft" param="global_footer" file="global-footer-item.htm" />
</div>
</body>
</html>