<!-- Promo box starts -->
<div class="promo">
	<div class="container">
		<div class="row"> 
			<div class="col-md-6 col-sm-6"> 
				<div class="pbox image">
					<div>
						<mvt:item name="readytheme" param="image( 'promo_1' )" />
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6"> 
				<div class="pbox image">
					<div>
						<mvt:item name="readytheme" param="image( 'promo_2' )" />
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Promo box ends --> 

<div class="banner-message">
	<div class="container">
		<div class="row" style="margin:auto;">
			<center><h2><mvt:item name="readytheme" param="banner( 'free_shipping' )" /></h2></center>
		</div>
	</div>
</div>
<!-- About box starts -->
<div class="about">
	<div class="container">
		<div class="row">
			<h3>About Us</h3>
			<mvt:item name="readytheme" param="contentsection( 'about-us-homepage' )" />
		</div>
	</div>
</div>
<!-- Featured Products -->
<mvt:item name="readytheme" param="productlisting( 'featured-products' )" />
